/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*In order to make that reset easier and more intuitive, you can use the inheriting snippet up at the top there, and the inheriting will be preserved.*/
/*The inherit keyword specifies that a property should inherit its value from its parent element.*/
html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.con {
  width: 1200px;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.nav-container-line {
  background-color: #efeded;
  /* border: 1px solid red; */
  height: 30px;
  border-bottom: 2px solid lightgray;
}

.nav-container ul {
  /* border: 1px solid red; */

  float: left;
  height: 30px;
}

.nav-container li {
  /* border: 1px solid blue; */

  list-style-type: none;
  margin: 0;
  padding: 0px;
  margin-right: 10px;
  float: left;
  height: 30px;
  line-height: 30px;
  /* border-right: 1px solid #d1d1d1; */
}

.nav-container a {
  /* border: 1px solid pink; */
  border-right: 1px solid #d1d1d1;
  text-decoration: none;
  color: #393939;
  font-size: 12px;
  padding-right: 10px;
}

.nav-right-list li:last-child a,
.nav-left-list li:last-child a {
  /* text-decoration: none; */
  border-right: 0px;
}

.nav-right-list {
  float: right;
}
.logo img {
  height: 73px;
  width: 73px;
}

.search-container {
  /* border: 1px solid pink; */

  margin-top: 30px;
}

.shopping-alert {
  /* border: 1px solid pink; */
  font-size: 12px;
  /* display: flex; */
  text-align: right;
  /* justify-content: left; */
  /* align-items: center; */
  width: 600px;
  margin-bottom: 20px;
}

.shopping-alert .icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.search-btn-line {
  /* border: 1px solid pink; */
  position: relative;
  display: flex;
  margin-right: 10px;
}

.searchTerm {
  width: 410px;
  height: 35px;
  border: 1px solid #d1d1d1;
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #d1d1d1;
  background: white;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  /* margin-top: -15px; */
  margin-left: -10px;
}

.search-btn-line .icon {
  /* margin-left: 20px; */
  position: absolute;
  left: 410px;
  top: 8px;
  /* width: 10px;
  height: 10px; */
  color: gray;
}

.shopcart {
  width: 150px;
  height: 35px;
  border: 1px solid #ffdb3d;
  background: #ffdb3d;
  text-align: center;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

.shopcart span {
  margin-left: 5px;
  margin-right: 10px;
}

.shopcart .icon {
  font-size: 25px;
}

.cart-flex {
  display: flex;
  align-items: center;
}

.catagory-container-right {
  /* float: left; */
  width: 100%;
  /* background-color: pink; */
  height: 700px;
}
.catagory-container-left {
  float: left;
  width: 250px;
  height: 700px;
  /* margin-left: -100%; */
  /* position: relative; */
  /* left: -190px; */
  /* background-color: lightgray; */
}
.catagory {
  /* padding: 0 230px 0 190px; */
  /* border: 1px solid #ffdb3d; */
  height: 700px;
  /* width: 900px; */
  margin-top: 150px;
}
.catagory-title {
  background-color: #ff4b00;
  color: white;
  height: 50px;
  padding: 10px 0 0 15px;
}

.catagory-list-container {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;

  height: 80px;
  padding: 15px;
}

.catagory-list-container h2 {
  color: #ff4b00;
}

.catagory-list-container ul,
.catagory-container-right-nav ul {
  /* border: 1px solid red; */
  float: left;
  height: 30px;
}

.catagory-list-container li,
.catagory-container-right-nav li {
  /* border: 1px solid blue; */

  list-style-type: none;
  margin: 0;
  padding: 0px;
  margin-right: 10px;
  float: left;
  height: 30px;
  line-height: 30px;
  /* border-right: 1px solid #d1d1d1; */
}

.catagory-list-container a,
.catagory-container-right-nav a {
  text-decoration: none;
  color: #393939;
  font-size: 12px;
  padding-right: 10px;
}

.catagory-container-right-nav {
  background-color: #46464a;
  height: 50px;
  padding: 10px 0 0 15px;
}

.catagory-container-right-nav ul {
  /* border: 1px solid blue; */
  margin-left: 20px;
}

.catagory-container-right-nav a {
  color: white;
  font-size: 20px;
  padding-right: 15px;
}

.catagory-container-right-nav li {
  margin-left: 10px;
  margin-right: 10px;
}

.poster img {
  background-color: yellowgreen;
  height: 420px;
  width: 950px;
}

.sub-poster {
  display: flex;
  justify-content: center;
}

.sub-poster-line {
  /* border: 1px solid blue; */
  border-right: 1px solid grey;
  width: 316px;
  height: 218px;
  text-align: center;
  background-color: #f9f9f9;
}

.sub-poster-line img {
  width: 150px;
  height: 120px;
}

.sub-poster-line h1 {
  margin-top: 10px;
}
.sub-poster-line h1,
.sub-poster-line p {
  margin-bottom: 20px;
}

.title {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}

.title .span-h1 {
  font-size: 30px;
}

.title .span-p {
  font-size: 12px;
  color: #b3b3b3;
}

.title .more,
.title .more a {
  font-size: 16px;
  color: #b3b3b3;
  text-decoration: none;
}

.more {
  /* float: right; */
  margin-left: 900px;
}

.pro {
  width: 390px;
  height: 400px;
  /* border: 1px solid red; */
  text-align: center;
}

.pro img {
  width: 390px;
  height: 290px;
}

.pro h1 {
  /* line-height: 30px; */
  margin-top: 20px;
}

.pro .des {
  color: #919191;
}

.products .pro {
  /* display: block; */
  float: left;
  border: 1px solid #919191;
  border-right: 0px;
}

.products .pro div:last-child {
  margin-right: 0;
}

.products p {
  font-size: 16px;
}

.newproducts-content {
  border: 1px solid red;
  float: left;
  width: 629px;
  height: 930px;
}

.newproducts-list {
  width: 571px;
  height: 930px;
  border: 1px solid blue;
  margin-left: 629px;
}

.newproducts-line-1 img {
  height: 160px;
  width: 320px;
  float: right;
}

.newproducts-line-1 {
  border: 1px solid blue;
  height: 320px;
  padding: 30px;
}

.newproducts-line-1 p {
  font-size: 16px;
  /* font-weight: bold; */
}

.newproducts-line-1 span {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.dollar {
  font-size: 20px;
}

.newproducts-line-2 {
  height: 33.3%;
}

.newproducts-line-2 img {
  width: 160px;
  height: 200px;
  /* text-align: center; */
}

.newproducts-line-left {
  border: 1px solid blue;
  width: 50%;
  text-align: center;
  height: 310px;
}

.newproducts-line-left .des {
  height: 30%;
  font-size: 20px;
  padding: 20px;
}

.newproducts-line-right {
  border: 1px solid pink;
  height: 310px;
  width: 50%;
}

/* .newproducts-line-righ .top,
.newproducts-line-righ .bottom {
  height: 50%;
  margin-left: 160px;
  border: 1px solid blue;
} */
